.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend .body;

  &__image-container {
    width: 100%;
    margin-bottom: 0.5rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    background-image: url("/img/blog-1.jpg");
    padding-bottom: 60%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: $border;
    padding-bottom: 0.5rem;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__user-name {
    margin-left: 0.5rem;
  }

  &__meta {
    margin-left: 0.5rem;
  }

  &__meta-icon {
    margin-right: 4px;
  }

  &__content {
    text-align: left;
  }

  &__heading {
    @extend .sub-heading;
    text-transform: uppercase;
  }
}
