.button {
  padding: 0.5rem 2rem;
  @include gradient-background;
  border: none;
  color: $button-text-color;
  font-family: $button-font-family;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  text-rendering: optimizeLegibility;
  display: inline-block;
}
