.container {
    max-width: $container-width;
    padding: 0 $gutter-width;
    margin: 0 auto;

    &__row {
        margin-left: -$gutter-width;
        margin-right: -$gutter-width;

        @media (min-width: $tablet-width) {
            display: flex;
        }
    }

    &__col {
        flex: 1;
        padding: 0 $gutter-width;
    }
}
