.filter {
  padding-top: 5rem;
  padding-bottom: 3rem;

  &__item {
    border: none;
    outline: none;
    padding: 1rem 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}
