.hamburger {
  // No block styling.
    &__line {
      width: 45px;
      height: 3px;
      background-color: black;
      display: block;
      margin: 9px 0;
      transition: all 0.2s ease-in-out;
    }
}

.hamburger.active .hamburger__line:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger.active .hamburger__line:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger.active .hamburger__line:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}
