.main-heading {
    color: $heading-color;
    font-size: 2.25rem;
    font-family: $heading-font-family;
    font-weight: 600;
    margin-bottom: .875rem;

    &.main-heading--caps {
        text-transform: uppercase;
    }

    &.main-heading--lg {
        font-size: 2.5rem;
    
        @include large-screen {
            font-size: 3.75rem;
        }  
    }
}
