.panel {
  padding: $panel-padding 0;

  &.panel--light {
    background-color: $light-panel-color;
  }

  &.panel--dark {
    background-color: $footer-color;
  }

  &.panel--gradient {
    @include gradient-background;
  }
}
