.portfolio-card {
  // No block styling
  &:hover .portfolio-card__overlay {
    opacity: 0.8;
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    @include gradient-background;

    &-icon {
      color: #fff;
      font-size: 5rem;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  &__image {
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

    &--1 {
      background-image: url("/img/image-1.jpg");
    }

    &--2 {
      background-image: url("/img/image-2.jpg");
    }

    &--3 {
      background-image: url("/img/image-3.jpg");
    }

    &--4 {
      background-image: url("/img/image-4.jpg");
    }

    &--5 {
      background-image: url("/img/image-5.jpg");
    }

    &--6 {
      background-image: url("/img/image-6.jpg");
    }
  }
}
