.pricing-card {
  background-color: $light-panel-color;
  padding: 2.5rem 1rem;
  margin-bottom: $margin-medium;

  @include large-screen {
    margin-bottom: 0;
  }

  &__option-no {
    background-color: $primary-color-opacity;
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: 30px solid $primary-color-opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $body-font-family;
    color: $heading-color;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: $margin-medium;
  }

  &__list {
    list-style-type: none;
    margin: $margin-medium 0;
  }

  &__list-item {
    @extend .body;
    margin-bottom: 0;
    padding: 0.5rem;
    border-top: $border;

    &.pricing-card__list-item--last {
      border-bottom: $border;
    }
  }

  &__price {
    color: $heading-color;
    font-size: 2.25rem;
    font-family: $heading-font-family;
    font-weight: 600;
  }
}
