.service {
    margin-top: $margin-medium;

    &__icon {
        font-size: 2rem;
    }

    &__sub-heading {
        margin-top: 1.875rem;
        margin-bottom: 1.25rem;
        font-size: 18px;
        font-weight: 600;
        font-family: $heading-font-family;
    }
}
