.sub-heading {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  font-size: 18px;
  font-weight: 600;
  font-family: $heading-font-family;
  color: $heading-color;

  &.sub-heading--margin-small {
    margin: 0.5rem;
  }
}
