///*** COLORS ***///
$primary-color: #8490ff;
$secondary-color: #62bdfc;

$heading-color: #222;
$body-color: #777;

$light-panel-color: #f9f9ff;


///*** FONTS ***///
$heading-font-family: 'Poppins', sans-serif;
$body-font-family: $heading-font-family;
